#background {
    background-image: url("assets/transparent_tv.png");
    height: 2200px;
    width: 1800px;
    background-repeat: no-repeat;
    
}

.responsive{
    width: 100%;
    height: auto;
}

#hero {
    background-image: url("assets/cat_transparent.png");
    height: 130px;
    width: 110px;
    position: absolute;
    top: 960px;
    left: 890px;
    background-repeat: no-repeat;
}

.enemy {
    background-image: url("assets/transparent_bug.png");
    height: 110px;
    width: 120px;
    position: absolute;
    top: 170px;
    left: 460px;
    background-repeat: no-repeat;
}
#missiles {
    height: 2200px;
    width: 1800px;
    background-repeat: no-repeat;
    position: absolute;

}
.missile {
    background-image: url("assets/flatiron_trans.png");
    height: 50px;
    width: 50px;
    position: absolute;
    background-repeat: no-repeat;
}

#score {
    height: 110px;
    width: 120px;
    position: absolute;
    top: 300px;
    left: 250px;
}

#startButton{
    height: 110px;
    width: 120px;
    position: absolute;
    top: 100px;
    left: 250px;
}

#createUser{
    height: 110px;
    width: 120px;
    position: absolute;
    top: 100px;
    left: 2000px;
}
