#title {
    height: 130px;
    width: 110px;
    top: 50px;
    left: 400px;
}
#background {
    background-image: url("assets/transparent_tv.png");
    height: 2200px;
    width: 1800px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    
}


#hero {
    background-image: url("assets/cat_transparent.png");
    height: 130px;
    width: 110px;
    position: absolute;
    top: 1050px;
    left: 890px;
    background-repeat: no-repeat;
}

.enemy {
    background-image: url("assets/transparent_bug.png");
    height: 110px;
    width: 120px;
    position: absolute;
    top: 170px;
    left: 460px;
    background-repeat: no-repeat;
}
#missiles {
    height: 2200px;
    width: 1800px;
    background-repeat: no-repeat;
    position: absolute;

}
.missile {
    background-image: url("assets/flatiron_trans.png");
    height: 50px;
    width: 50px;
    position: absolute;
    background-repeat: no-repeat;
}

#currentScoreDiv {
    height: 110px;
    width: 120px;
    position: absolute;
    top: 360px;
    left: 250px;
}

#startButton{
    height: auto;
    width: auto;
    position: absolute;
    top: 190px;
    left: 800px;
}

#createUser{
    height: auto;
    width: 50%;
    position: absolute;
    top: 150px;
    left: 250px; 
}

#commentsDiv{
    height: auto;
    width: 50%;
    position: absolute;
    top: 1500px;
    left: 300px; 
}

#highScoreDiv {
    height: auto;
    width: 50%;
    position: absolute;
    top: 1400px;
    left: 300px; 
}
